.topicBox{
    background-color: rgb(109, 109, 255);
    width: 80%;
    height: 100px;
    border-radius: 10px;
    margin-left: 10%;

}
.text{
    color: brown;
    font-size: 30px;
    font-family: roboto;
    margin-left: 50px;
    margin-top: 20px;
}